.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: $font-size-base;
    margin: 0px;
  }

  .logo {
    margin: 0 $spacer;
  }
}
