.App {
  min-height: 100vh;
  position: relative;
}

.App-header {
  color: white;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/113335/pexels-photo-113335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: center;
  transition: top 0.2s ease-in-out;
}

#top-menu {
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  z-index: 100;

  &.hidden {
    display: none;
  }

  &.up {
    background-color: rgba(black, 0.5);
  }

  .navbar-brand {
    color: white;
  }

  .navbar-btn {
    color: white;
    background: none;
    border: none;

    &:hover {
      font-weight: bold;
    }
  }
}

h1, h2, h3, h4 {
  font-family: $font-family-headers;
}

h2 {
  color: $gray-700;
}

h4 {
  font-size: $font-size-base * 1.1;
  color: $gray-700;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 50px;
  max-width: 1000px;
  margin: 0px auto;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}
