[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
azure-iothub-device-client = "*"
"tsl2561" = "*"
adafruit-gpio = "*"
pytz = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.5"
